In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from soccerplots.radar_chart import Radar

In [2]:
url = 'https://fbref.com/en/comps/Big5/passing/players/Big-5-European-Leagues-Stats'

In [170]:
df = pd.read_html(url)[0]
#add [0] because we just want the first item in the df list

In [171]:
df

     Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                     Rk             Player             Nation
0                     1         Max Aarons            eng ENG
1                     2   Brenden Aaronson             us USA
2                     3    Paxten Aaronson             us USA
3                     4  Keyliane Abdallah             fr FRA
4                     5   Yunis Abdelhamid             ma MAR
...                 ...                ...                ...
2882               2773    Martin Ødegaard             no NOR
2883               2774        Milan Đurić             ba BIH
2884               2775        Milan Đurić             ba BIH
2885                 Rk             Player             Nation
2886               2776   Mateusz Łęgowski             pl POL

     Unnamed: 3_level_0 Unnamed: 4_level_0  Unnamed: 5_level_0  \
                    Pos              Squad                Comp
0                    DF        Bournemouth  eng Premier League
1                 MF,FW       Union Berlin       de Bundesliga
2                    MF     Eint Frankfurt       de Bundesliga
3                    FW          Marseille          fr Ligue 1
4                    DF              Reims          fr Ligue 1
...                 ...                ...                 ...
2882                 MF            Arsenal  eng Premier League
2883                 FW      Hellas Verona          it Serie A
2884                 FW              Monza          it Serie A
2885                Pos              Squad                Comp
2886                 MF        Salernitana          it Serie A

     Unnamed: 6_level_0 Unnamed: 7_level_0 Unnamed: 8_level_0 Total  ...  \
                    Age               Born                90s   Cmp  ...
0                24-117               2000               13.0   422  ...
1                23-191               2000               12.1   314  ...
2                20-248               2003                1.1    41  ...
3                18-025               2006                0.0     1  ...
4                36-215               1987               27.9  1465  ...
...                 ...                ...                ...   ...  ...
2882             25-135               1998               31.4  1551  ...
2883             33-344               1990               13.4   181  ...
2884             33-344               1990               10.5   113  ...
2885                Age               Born                90s   Cmp  ...
2886             21-092               2003               12.1   286  ...

     Unnamed: 23_level_0 Unnamed: 24_level_0 Expected         \
                     Ast                 xAG       xA  A-xAG
0                      1                 0.8      0.9   +0.2
1                      0                 1.3      1.2   -1.3
2                      1                 0.1      0.1   +0.9
3                      0                 0.0      0.0    0.0
4                      0                 0.3      0.6   -0.3
...                  ...                 ...      ...    ...
2882                   8                 8.5     10.1   -0.5
2883                   1                 1.2      0.5   -0.2
2884                   1                 0.6      0.1   +0.4
2885                 Ast                 xAG       xA  A-xAG
2886                   0                 0.2      0.4   -0.2

     Unnamed: 27_level_0 Unnamed: 28_level_0 Unnamed: 29_level_0  \
                      KP                 1/3                 PPA
0                      7                  24                  13
1                     16                  26                  10
2                      1                   4                   2
3                      0                   0                   0
4                      8                 125                   3
...                  ...                 ...                 ...
2882                  93                 147                 112
2883                  16                  18                   3
2884                   3                   3                   1
2885                  KP                 1/3                 PPA
2886                   7                  30                   5

     Unnamed: 30_level_0 Unnamed: 31_level_0 Unnamed: 32_level_0
                   CrsPA                PrgP             Matches
0                      2                  42             Matches
1                      2                  42             Matches
2                      0                   5             Matches
3                      0                   0             Matches
4                      0                 134             Matches
...                  ...                 ...                 ...
2882                  11                 306             Matches
2883                   0                  15             Matches
2884                   0                   7             Matches
2885               CrsPA                PrgP             Matches
2886                   1                  37             Matches

[2887 rows x 33 columns]

In [172]:
df.columns

MultiIndex([( 'Unnamed: 0_level_0',      'Rk'),
            ( 'Unnamed: 1_level_0',  'Player'),
            ( 'Unnamed: 2_level_0',  'Nation'),
            ( 'Unnamed: 3_level_0',     'Pos'),
            ( 'Unnamed: 4_level_0',   'Squad'),
            ( 'Unnamed: 5_level_0',    'Comp'),
            ( 'Unnamed: 6_level_0',     'Age'),
            ( 'Unnamed: 7_level_0',    'Born'),
            ( 'Unnamed: 8_level_0',     '90s'),
            (              'Total',     'Cmp'),
            (              'Total',     'Att'),
            (              'Total',    'Cmp%'),
            (              'Total', 'TotDist'),
            (              'Total', 'PrgDist'),
            (              'Short',     'Cmp'),
            (              'Short',     'Att'),
            (              'Short',    'Cmp%'),
            (             'Medium',     'Cmp'),
            (             'Medium',     'Att'),
            (             'Medium',    'Cmp%'),
            (               'Long',     'Cmp'),
            (               'Long',     'Att'),
            (               'Long',    'Cmp%'),
            ('Unnamed: 23_level_0',     'Ast'),
            ('Unnamed: 24_level_0',     'xAG'),
            (           'Expected',      'xA'),
            (           'Expected',   'A-xAG'),
            ('Unnamed: 27_level_0',      'KP'),
            ('Unnamed: 28_level_0',     '1/3'),
            ('Unnamed: 29_level_0',     'PPA'),
            ('Unnamed: 30_level_0',   'CrsPA'),
            ('Unnamed: 31_level_0',    'PrgP'),
            ('Unnamed: 32_level_0', 'Matches')],
           )

In [173]:
df.columns = ['_'.join(col).strip() for col in df.columns.values]

In [174]:
df.columns

Index(['Unnamed: 0_level_0_Rk', 'Unnamed: 1_level_0_Player',
       'Unnamed: 2_level_0_Nation', 'Unnamed: 3_level_0_Pos',
       'Unnamed: 4_level_0_Squad', 'Unnamed: 5_level_0_Comp',
       'Unnamed: 6_level_0_Age', 'Unnamed: 7_level_0_Born',
       'Unnamed: 8_level_0_90s', 'Total_Cmp', 'Total_Att', 'Total_Cmp%',
       'Total_TotDist', 'Total_PrgDist', 'Short_Cmp', 'Short_Att',
       'Short_Cmp%', 'Medium_Cmp', 'Medium_Att', 'Medium_Cmp%', 'Long_Cmp',
       'Long_Att', 'Long_Cmp%', 'Unnamed: 23_level_0_Ast',
       'Unnamed: 24_level_0_xAG', 'Expected_xA', 'Expected_A-xAG',
       'Unnamed: 27_level_0_KP', 'Unnamed: 28_level_0_1/3',
       'Unnamed: 29_level_0_PPA', 'Unnamed: 30_level_0_CrsPA',
       'Unnamed: 31_level_0_PrgP', 'Unnamed: 32_level_0_Matches'],
      dtype='object')

In [175]:
df.columns.values

array(['Unnamed: 0_level_0_Rk', 'Unnamed: 1_level_0_Player',
       'Unnamed: 2_level_0_Nation', 'Unnamed: 3_level_0_Pos',
       'Unnamed: 4_level_0_Squad', 'Unnamed: 5_level_0_Comp',
       'Unnamed: 6_level_0_Age', 'Unnamed: 7_level_0_Born',
       'Unnamed: 8_level_0_90s', 'Total_Cmp', 'Total_Att', 'Total_Cmp%',
       'Total_TotDist', 'Total_PrgDist', 'Short_Cmp', 'Short_Att',
       'Short_Cmp%', 'Medium_Cmp', 'Medium_Att', 'Medium_Cmp%',
       'Long_Cmp', 'Long_Att', 'Long_Cmp%', 'Unnamed: 23_level_0_Ast',
       'Unnamed: 24_level_0_xAG', 'Expected_xA', 'Expected_A-xAG',
       'Unnamed: 27_level_0_KP', 'Unnamed: 28_level_0_1/3',
       'Unnamed: 29_level_0_PPA', 'Unnamed: 30_level_0_CrsPA',
       'Unnamed: 31_level_0_PrgP', 'Unnamed: 32_level_0_Matches'],
      dtype=object)

In [176]:
df.head()

,Unnamed: 0_level_0_Rk,Unnamed: 1_level_0_Player,Unnamed: 2_level_0_Nation,Unnamed: 3_level_0_Pos,Unnamed: 4_level_0_Squad,Unnamed: 5_level_0_Comp,Unnamed: 6_level_0_Age,Unnamed: 7_level_0_Born,Unnamed: 8_level_0_90s,Total_Cmp,...,Unnamed: 23_level_0_Ast,Unnamed: 24_level_0_xAG,Expected_xA,Expected_A-xAG,Unnamed: 27_level_0_KP,Unnamed: 28_level_0_1/3,Unnamed: 29_level_0_PPA,Unnamed: 30_level_0_CrsPA,Unnamed: 31_level_0_PrgP,Unnamed: 32_level_0_Matches
0,1,Max Aarons,eng ENG,DF,Bournemouth,eng Premier League,24-117,2000,13.0,422,...,1,0.8,0.9,+0.2,7,24,13,2,42,Matches
1,2,Brenden Aaronson,us USA,"MF,FW",Union Berlin,de Bundesliga,23-191,2000,12.1,314,...,0,1.3,1.2,-1.3,16,26,10,2,42,Matches
2,3,Paxten Aaronson,us USA,MF,Eint Frankfurt,de Bundesliga,20-248,2003,1.1,41,...,1,0.1,0.1,+0.9,1,4,2,0,5,Matches
3,4,Keyliane Abdallah,fr FRA,FW,Marseille,fr Ligue 1,18-025,2006,0.0,1,...,0,0.0,0.0,0.0,0,0,0,0,0,Matches
4,5,Yunis Abdelhamid,ma MAR,DF,Reims,fr Ligue 1,36-215,1987,27.9,1465,...,0,0.3,0.6,-0.3,8,125,3,0,134,Matches

In [177]:
df = df[(df['Unnamed: 1_level_0_Player'] == "Yves Bissouma") | (df['Unnamed: 1_level_0_Player'] == "Amadou Onana")]

In [178]:
df.head()

,Unnamed: 0_level_0_Rk,Unnamed: 1_level_0_Player,Unnamed: 2_level_0_Nation,Unnamed: 3_level_0_Pos,Unnamed: 4_level_0_Squad,Unnamed: 5_level_0_Comp,Unnamed: 6_level_0_Age,Unnamed: 7_level_0_Born,Unnamed: 8_level_0_90s,Total_Cmp,...,Unnamed: 23_level_0_Ast,Unnamed: 24_level_0_xAG,Expected_xA,Expected_A-xAG,Unnamed: 27_level_0_KP,Unnamed: 28_level_0_1/3,Unnamed: 29_level_0_PPA,Unnamed: 30_level_0_CrsPA,Unnamed: 31_level_0_PrgP,Unnamed: 32_level_0_Matches
319,308,Yves Bissouma,ml MLI,MF,Tottenham,eng Premier League,27-244,1996,20.5,1525,...,0,0.4,1.6,-0.4,9,137,10,0,146,Matches
1996,1921,Amadou Onana,be BEL,MF,Everton,eng Premier League,22-258,2001,20.8,785,...,0,2.7,1.3,-2.7,18,94,13,1,101,Matches

In [179]:
df = df.reset_index()

In [180]:
df

,index,Unnamed: 0_level_0_Rk,Unnamed: 1_level_0_Player,Unnamed: 2_level_0_Nation,Unnamed: 3_level_0_Pos,Unnamed: 4_level_0_Squad,Unnamed: 5_level_0_Comp,Unnamed: 6_level_0_Age,Unnamed: 7_level_0_Born,Unnamed: 8_level_0_90s,...,Unnamed: 23_level_0_Ast,Unnamed: 24_level_0_xAG,Expected_xA,Expected_A-xAG,Unnamed: 27_level_0_KP,Unnamed: 28_level_0_1/3,Unnamed: 29_level_0_PPA,Unnamed: 30_level_0_CrsPA,Unnamed: 31_level_0_PrgP,Unnamed: 32_level_0_Matches
0,319,308,Yves Bissouma,ml MLI,MF,Tottenham,eng Premier League,27-244,1996,20.5,...,0,0.4,1.6,-0.4,9,137,10,0,146,Matches
1,1996,1921,Amadou Onana,be BEL,MF,Everton,eng Premier League,22-258,2001,20.8,...,0,2.7,1.3,-2.7,18,94,13,1,101,Matches

In [181]:
df = df.drop(['Unnamed: 0_level_0_Rk', 'Unnamed: 2_level_0_Nation', 'Unnamed: 3_level_0_Pos', 'Unnamed: 4_level_0_Squad', 'Unnamed: 5_level_0_Comp',
             'Unnamed: 6_level_0_Age', 'Unnamed: 7_level_0_Born', 'Unnamed: 32_level_0_Matches'], axis=1)

In [182]:
df = df.drop(['index'], axis=1)

In [183]:
df.values

array([['Yves Bissouma', '20.5', '1525', '1655', '92.1', '22517', '6324',
        '856', '905', '94.6', '553', '593', '93.3', '56', '69', '81.2',
        '0', '0.4', '1.6', '-0.4', '9', '137', '10', '0', '146'],
       ['Amadou Onana', '20.8', '785', '935', '84.0', '13104', '3702',
        '406', '455', '89.2', '277', '320', '86.6', '78', '106', '73.6',
        '0', '2.7', '1.3', '-2.7', '18', '94', '13', '1', '101']],
      dtype=object)

In [184]:
df.values[1]

array(['Amadou Onana', '20.8', '785', '935', '84.0', '13104', '3702',
       '406', '455', '89.2', '277', '320', '86.6', '78', '106', '73.6',
       '0', '2.7', '1.3', '-2.7', '18', '94', '13', '1', '101'],
      dtype=object)

In [185]:
df.values[0]

array(['Yves Bissouma', '20.5', '1525', '1655', '92.1', '22517', '6324',
       '856', '905', '94.6', '553', '593', '93.3', '56', '69', '81.2',
       '0', '0.4', '1.6', '-0.4', '9', '137', '10', '0', '146'],
      dtype=object)

In [186]:
df

,Unnamed: 1_level_0_Player,Unnamed: 8_level_0_90s,Total_Cmp,Total_Att,Total_Cmp%,Total_TotDist,Total_PrgDist,Short_Cmp,Short_Att,Short_Cmp%,...,Long_Cmp%,Unnamed: 23_level_0_Ast,Unnamed: 24_level_0_xAG,Expected_xA,Expected_A-xAG,Unnamed: 27_level_0_KP,Unnamed: 28_level_0_1/3,Unnamed: 29_level_0_PPA,Unnamed: 30_level_0_CrsPA,Unnamed: 31_level_0_PrgP
0,Yves Bissouma,20.5,1525,1655,92.1,22517,6324,856,905,94.6,...,81.2,0,0.4,1.6,-0.4,9,137,10,0,146
1,Amadou Onana,20.8,785,935,84.0,13104,3702,406,455,89.2,...,73.6,0,2.7,1.3,-2.7,18,94,13,1,101

In [187]:
#df = df[:,2:].astype(float)
player1 = []
player2 = []

print(len(df.values))

#for x in range(len(df.values)):

for i in df.values[0]:
    if any(chr.isdigit() for chr in i):
        y = float(i)
    else:
        y = i
        
    player1.append(y)


player1 = np.array(player1)
print(player1)
df.values[0] = player1
print(df.values[0])

2
['Yves Bissouma' '20.5' '1525.0' '1655.0' '92.1' '22517.0' '6324.0'
 '856.0' '905.0' '94.6' '553.0' '593.0' '93.3' '56.0' '69.0' '81.2' '0.0'
 '0.4' '1.6' '-0.4' '9.0' '137.0' '10.0' '0.0' '146.0']
['Yves Bissouma' '20.5' '1525.0' '1655.0' '92.1' '22517.0' '6324.0'
 '856.0' '905.0' '94.6' '553.0' '593.0' '93.3' '56.0' '69.0' '81.2' '0.0'
 '0.4' '1.6' '-0.4' '9.0' '137.0' '10.0' '0.0' '146.0']

In [ ]:
for i in df.values[1]:
    if any(chr.isdigit() for chr in i):
        y = float(i)
    else:
        y = i
        
    player2.append(y)

player2 = np.array(player2)
print(player2)

newArr = np.vstack((player1, player2))
newArr

In [19]:
#get parameters
params = list(df.columns)
params = params[2:]
params

['Unnamed: 8_level_0_90s',
 'Total_Cmp',
 'Total_Att',
 'Total_Cmp%',
 'Total_TotDist',
 'Total_PrgDist',
 'Short_Cmp',
 'Short_Att',
 'Short_Cmp%',
 'Medium_Cmp',
 'Medium_Att',
 'Medium_Cmp%',
 'Long_Cmp',
 'Long_Att',
 'Long_Cmp%',
 'Unnamed: 23_level_0_Ast',
 'Unnamed: 24_level_0_xAG',
 'Expected_xA',
 'Expected_A-xAG',
 'Unnamed: 27_level_0_KP',
 'Unnamed: 28_level_0_1/3',
 'Unnamed: 29_level_0_PPA',
 'Unnamed: 30_level_0_CrsPA',
 'Unnamed: 31_level_0_PrgP']

In [44]:
print(df.dtypes)

index                         int64
Unnamed: 1_level_0_Player    object
Unnamed: 8_level_0_90s       object
Total_Cmp                    object
Total_Att                    object
Total_Cmp%                   object
Total_TotDist                object
Total_PrgDist                object
Short_Cmp                    object
Short_Att                    object
Short_Cmp%                   object
Medium_Cmp                   object
Medium_Att                   object
Medium_Cmp%                  object
Long_Cmp                     object
Long_Att                     object
Long_Cmp%                    object
Unnamed: 23_level_0_Ast      object
Unnamed: 24_level_0_xAG      object
Expected_xA                  object
Expected_A-xAG               object
Unnamed: 27_level_0_KP       object
Unnamed: 28_level_0_1/3      object
Unnamed: 29_level_0_PPA      object
Unnamed: 30_level_0_CrsPA    object
Unnamed: 31_level_0_PrgP     object
dtype: object

In [47]:
#ranges
#add ranges to list of tuple pairs
#create empty lists

ranges = []
a_values = []
b_values = []

for x in params:
    print(x)
    a = min(df[params][x])
    print(a)
    print(type(a))
    a = a - (a*0.25)

    b = max(df[params][x])
    b = b + (b*0.25)

    ranges.append((a,b))

#values
for x in range(len(df['Unnamed: 1_level_0_Player'])):
    if df['Unnamed: 1_level_0_Player'][x] == 'Yves Bissouma':
        a_values = df.iloc[x].values.tolist()
    if df['Unnamed: 1_level_0_Player'][x] == 'Amadou Onana':
        b_values = df.iloc[x].values.tolist()

a_values = a_values[2:]
b_values = b_values[2:]
values = [a_values, b_values]
values

Unnamed: 8_level_0_90s
20.5
<class 'str'>

TypeError: can't multiply sequence by non-int of type 'float'